<div class="container">
    <div class="row">
        <div class="modal-box">
            <button class="close" ui-sref="index.home">X</button>
            <img src="styles/img/icon_realtime.svg" alt="" width="100" height="100">
            <h2>Real Time&trade;</h2>
            <h3>Bank&ndash;Defined Transaction Posting</h3>

<p>Real Time allows banks to post transactions electronically to a posting file at the end of the day. This allows your bank to essentially do away with cash in/out tickets, general ledger tickets, and a number of other internal items. Your bank is able to control what memo posts at the time of the transaction by utilizing memo post parameters. The majority of the setup for this is a behind&ndash;the&ndash;scenes process, and the end users (tellers) will see only a few line&ndash;item changes to the transaction sets.</p>

<p>Real Time also integrates seamlessly with SilverLake, making your bank more nimble and flexible than ever before.</p>
<hr>
<a class="btn center-block" target="_blank" ng-href="http://www.jackhenrybanking.com/Retail-Delivery/SilverLake-Teller/Pages/Real-Time.aspx" title="Review additional details about Real Time">Review additional details about Real Time</a>
<hr>
<p>If your bank has yet to tap into the benefits of Real Time, call us at 800&ndash;299&ndash;4453 or email <a ng-href="mailto:tellmemore@jackhenry.com?subject=Tell Me More About Real Time" title="tellmemore@jackhenry.com">tellmemore@jackhenry.com</a>.</p>
        </div>
    </div>
</div>
