<div class="container">
    <div class="row">
        <div class="modal-box">
            <button class="close" ui-sref="index.home">X</button>
            <img src="styles/img/icon_poweron.svg" alt="" width="100" height="100">
            <h2>PowerOn<sup>&reg;</sup></h2>
            <h3>Customize SilverLake to Your Bank</h3>

<blockquote>"We would highly recommend PowerOn to other banking institutions. The solution utilizes the expertise of our software engineers by enabling them to develop interfaces to present &hellip; It is a great tool to enable presentment of non&ndash;JHA solutions to users in a manner that is efficient and easy to use."
<cite>Bev Miller, Senior Vice President of Loan Operations Support, Banner Bank</cite></blockquote>

<p>Ready to unleash your internal innovation? PowerOn puts your bank in the driver's seat by enabling IT staff to develop tools and automate manual tasks within SilverLake, using standard .NET programming languages. PowerOn gives you the ability to develop interfaces with other systems, and to integrate data from multiple sources so critical information is just a click away. PowerOn can be used to pull data from virtually any source to present a full and complete picture of the account or customer being assisted. In addition, it can be used to supplement or update information stored in the core by performing data look&ndash;up and analysis on an account. Changes are made within the structure and protection of the core system, but independent of the core code. </p>

<h2>Scenario A</h2>
<p>Your bank, utilizing internal IT expertise, wants to create a customization that helps you handle common customer correspondence and integrates easily with your SilverLake core. With PowerOn, it's not only possible but encouraged &ndash; saving you time and untold labor in the months and years to come!</p>

<p>Jack Henry Banking experts can also assist you in creating a PowerOn that meets your bank's unique needs if you do not have IT programmers on staff.</p>

<h2>Scenario B</h2>
<p>Your bank would benefit from a core customization that Jack Henry does not currently offer. Meanwhile, another bank facing similar challenges has come up with their own SilverLake PowerOn to address the issue &ndash; which you discover by browsing the various PowerOns available in our new jhaMarketplace. You can then download .zip file of the scripting code and try the solution at your bank. The jhaMarketplace also lets you rate the PowerOn or post a request for new one that matches your needs.</p>

<p>And for those innovators in your organization, any bank or vendor that has our software development kit can also submit solutions and earn potential revenue. Jack Henry validates each submission for safety and usability before it is made available. The jhaMarketplace provides a one&ndash;stop shop for creative solutions and offers an open community to share ideas.</p>

<p>Jack Henry realizes that you know the particular needs of your staff and customers better than anyone. PowerOn lets you create custom data integration, account and customer functionality, and informational user screens using virtually any data the bank can access. This includes Jack Henry Banking complementary system data, third&ndash;party data (such as from credit card and trust accounts), and external data from public and private sources. Discover what unlimited customization of SilverLake can do for your institution.</p>
<hr>
<a class="btn center-block" target="_blank" ng-href="http://www.jackhenrybanking.com/ProductBriefs/JHBPB_PowerOn.pdf">Learn more about PowerOn</a>
<a class="btn center-block" target="_blank" ng-href="http://www.jackhenrybanking.com/ProductBriefs/JHBPB_PowerOn_Marketplace.pdf">Read more about the jhaMarketplace</a>
<hr>
<p>To learn more or ask questions about how PowerOn customizations can take your bank to the next level, call us at 800&ndash;299&ndash;4453 or email <a target="_blank" ng-href="mailto:redefinecore@jackhenry.com?subject=Tell Me More About PowerOn" title="redefinecore@jackhenry.com">redefinecore@jackhenry.com</a>.</p>

        </div>
    </div>
</div>
