<div class="container">
    <div class="row">
        <div class="modal-box">
            <button class="close" ui-sref="index.home">X</button>
            <img src="styles/img/icon_branchanywhere.svg" alt="" width="100" height="100">
            <h2>Branch Anywhere&trade;</h2>
            <h3>Mobile Application Platform</h3>
            <p>Ready to go mobile and impact today's customers? Branch Anywhere is a flexible new tool that enables your bank to seamlessly execute an enterprise mobile strategy via a nimble, go&ndash;anywhere application for branch employees.</p>
            <p>Offering full integration with SilverLake, Branch Anywhere leverages sophisticated standalone and product&ndash;specific companion apps. It allows your bank to convert tablets and smartphones into contemporary new banking channels that your employees can use to make branch banking more visual, interactive, and efficient. Available for iPhones, Android, and Windows phones, as well as tablets, Branch Anywhere is convenient for both bankers and on&ndash;the&ndash;go customers. The personalized customer experience offered by this mobile branch can also help differentiate your bank from your competition!</p>
            <hr>
            <a class="btn center-block" target="_blank" ng-href="http://www.jackhenrybanking.com/ProductBriefs/JHBPB_BranchAnywhere.pdf">Read more about Branch Anywhere</a>
            <a class="btn center-block" target="_blank" ng-href="https://www.youtube.com/watch?v=KCkBcgbePi8">View our Branch Anywhere video</a>
            <hr>
            <p>To learn more or ask questions about how Branch Anywhere can help your bank do more and reach today's customers, call us at 800&ndash;299&ndash;4453 or email <a target="_blank" ng-href="mailto:redefinecore@jackhenry.com?subject=Tell Me More About Branch Anywhere" title="redefinecore@jackhenry.com">redefinecore@jackhenry.com</a>.</p>
        </div>
    </div>
</div>
