<div class="container">
    <div class="row">
        <div class="modal-box">
            <button class="close" ui-sref="index.home">X</button>
            <img src="styles/img/icon_digitalsuite.svg" alt="" width="100" height="100">
            <h2>Digital Suite</h2>
            <h3>A True Digital Platform Like No Other</h3>
<!-- <p>One Cohesive Ecosystem Powering Your Entire Digital Suite</p> -->
<!-- <hr> -->
<blockquote>"To remain profitable and competitive in today's dynamic banking environment, you must seek to become hyper&ndash;efficient. Working with Jack Henry Banking, we are able to do so without sacrificing the branch or digital customer experience. We recognize the customer wants to do business with us on their terms, and Jack Henry allows us to meet or exceed those expectations."
<cite>Carlos Fernandez&ndash;Guzman, President and CEO, Pacific National Bank (Miami, FL)</cite></blockquote>
<hr>
<p>We realize that most financial institutions work with several vendors providing different solutions that attempt to give end users the features they expect. Meanwhile, today's consumers want a single view of all of their accounts and transactions in an easy&ndash;to&ndash;understand format that can be accessed from any device.</p>

<p>Our new digital platform allows your bank to meet consumer expectations for account access, functionality, customer service, and user experience. It's a cohesive ecosystem that can power your entire digital suite &ndash; with a fresh new look, revolutionary efficiency tools, and innovations that surpass anything on the market today.</p>

<p>We built this platform with your employees in mind. Now you can see your end&ndash;users the same way they see themselves. Whether you need to review a disputed transaction, update contact information, disable a debit card, or manage someone's device and security settings, it's all here, in one place.</p>

<p>This digital experience delivered in a modern look and feel will also differentiate your bank from the competition, gaining more market share and greater returns for your business!</p>

<p>For questions about our full digital suite, call us at 800&ndash;299&ndash;4453 or email <a target="_blank" ng-href="mailto:redefinecore@jackhenry.com?subject=Tell Me More About Digital Suite" title="redefinecore@jackhenry.com">redefinecore@jackhenry.com</a>.</p>

        </div>
    </div>
</div>
