<div class="container">
    <div class="row">
        <div class="modal-box">
            <button class="close" ui-sref="index.home">X</button>
            <img src="styles/img/icon_jhaenterpriseworkflow.svg" alt="" width="100" height="100">
            <h2><em>jha</em>Enterprise Workflow&trade;</h2>
<h3>Automated Multi‐Step Business Processes</h3>

<p>Ready to increase your staff's efficiency by mastering routine tasks? jhaEnterprise Workflow fully automates, streamlines, and standardizes all bank‐defined business processes that involve multiple steps, individuals, groups, departments, and systems.</p>

<p>Offering full integration with today's SilverLake, jhaEnterprise Workflow can support virtually any process that can be performed with a series of consistent steps. The solution automatically routes assignments based on established credentials, permission levels, and availability &ndash; and efficiently enforces established approval processes.</p>
<hr>
<a class="btn center-block" target="_blank" ng-href="http://www.jackhenrybanking.com/ProductBriefs/JHBPB_jhaEnterpriseWorkflow.pdf">Read more about jhaEnterprise Workflow</a>
<a class="btn center-block" target="_blank" ng-href="http://www.jackhenrybanking.com/CaseStudies/JHBCS_jhaEnterpriseWorkflow_BankofMissouri.pdf">Read our case study on The Bank of Missouri</a>
<a class="btn center-block" target="_blank" ng-href="http://www.jackhenrybanking.com/CaseStudies/JHBCS_jhaEnterpriseWorkflow_IsabellaBank.pdf">Review our case study about the Isabella Bank Corporation</a>
<hr>
<blockquote>"If you want to increase your efficiency ratio, this is the product to get."
<cite>Chris Congiardo, Software Application Administrator</cite></blockquote>

<blockquote>"We rely on jhaEnterprise Workflow tracking to show who made changes, who reviewed changes &ndash; it's critical to our daily processes."
<cite>Amy Vogel, Vice President and Chief Risk Officer</cite></blockquote>
<hr>
<p>To explore further how jhaEnterprise Workflow and SilverLake work together to deliver more efficiency to your bank, call us at 800&ndash;299&ndash;4453 or email <a target="_blank" ng-href="mailto:redefinecore@jackhenry.com?subject=Tell Me More About jhaEnterprise Workflow" title="redefinecore@jackhenry.com">redefinecore@jackhenry.com</a>.</p>

        </div>
    </div>
</div>
