<div class="container">
    <div class="row">
        <div class="modal-box">
            <button class="close" ui-sref="index.home">X</button>
<img src="styles/img/icon.svg" alt="" width="100" height="100">
<h2>Support and Service Beyond Compare</h2>
<h3>Dedication to Excellence in Customer Service</h3>

<p>Our goals in bringing you these latest enhancements to SilverLake and its supporting modules were to:</p>

<ul>
<li>Maximize efficiencies.</li>
<li>Provide a new, modern look and feel which is easy to learn and use.</li>
<li>Deliver measurable returns on your investment. </li>
<li>Continue to offer high&ndash;growth, high&ndash;performance, competitive solutions.</li>
<li>Provide easy integration with third&ndash;party products to our core and complementary solutions.</li>
<li>Empower your bank with an innovative, industry&ndash;leading mobile strategy and solution.</li>
<li>Continue our commitment to superior customer service &ndash; to remain your core partner of choice.</li>
</ul>

<p>In 1976, Jack Henry &amp; Associates was founded on the premise that strong relationships and sound technology go hand&ndash;in&ndash;hand. Today, with more than 10,800 customers and over 6,000 associates, we combine this idea with the pursuit of one common goal &ndash; excellence in financial services.</p>

<p>Ask any of our customers, competitors, or partners what we're best known for. They'll tell you &ndash; customer service. For 40 years, our associates have followed three very simple tenets which have fostered our culture and built our reputation for outstanding customer service:</p>

<ul>
<li>Do the Right Thing</li>
<li>Do Whatever It Takes</li>
<li>Have Fun</li>
</ul>

<p>These core, foundational tenets are a part of every performance review and are constantly reinforced in our business. And with among the strongest financials of any banking core provider, Jack Henry will be around to protect your investment for many years to come.</p>

<p>And if there is ever any way we can better serve your bank, we want to hear from you!</p>

<h4>Contact Jack Henry Today</h4>

For questions about SilverLake or our powerful supporting modules, to schedule a demonstration, or to talk to a current SilverLake bank, call us at 800&ndash;299&ndash;4453 or email <a ng-href="mailto:tellmemore@jackhenry.com?subject=Tell Me More About Silverlake" title="tellmemore@jackhenry.com">tellmemore@jackhenry.com</a>.

        </div>
    </div>
</div>
